/*---------------
Header
---------------*/
#resize{
    position: relative;
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;
    -webkit-transition: all 1s cubic-bezier(.32,.15,.24,.27);
    transition: all 1s cubic-bezier(.32,.15,.24,.27);
}
.hero-text{
    position: relative;
    font-size: 1em;
    top: 50%;
    margin-left: 10px;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: left;
    letter-spacing: 1px;
    word-spacing: 3px;
    color: white;
    -webkit-animation: slide-up 0.7s ease-in, fade-out 0.6s ease-in, slide-down 0.6s 0.63s ease-out, fade-in 0.4s 0.73s ease-out, hero-txt 0.8s ease-in;
    animation: slide-up 0.7s ease-in, fade-out 0.6s ease-in, slide-down 0.6s 0.63s ease-out, fade-in 0.4s 0.73s ease-out, hero-txt 0.8s ease-in;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    cursor: default;
}
#right{
    position: absolute;
    float: left;
    left: 50%;
    width: 50%;
    z-index: 10;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 1s cubic-bezier(.32,.15,.24,.27);
    transition: all 1s cubic-bezier(.32,.15,.24,.27);
}
#main-menu{
    display: block;
}
#main-menu ul{
    position: fixed;
    font-size: 40px;
    font-weight: 300;
    text-align: left;
    list-style: none;
    padding-left: 0px;
    margin-left: 0%;
    top: 50%;
    left: 70%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
#main-menu ul li{
    cursor: pointer;
    -webkit-animation: slide-up 0.7s ease-in, fade-out 0.7s ease-in;
    animation: slide-up 0.7s ease-in, fade-out 0.7s ease-in;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
#left-menu{
    width: 250px;
    clear: left;
    float: left;
    display: none;
    -webkit-animation: fade-in 0.7s ease-in;
    animation: fade-in 0.7s ease-in;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
#left-menu ul{
    padding-left: 0px;
    text-align: left;
    list-style: none;
}
#left-menu ul li{
    text-decoration: bold;
    text-transform: uppercase;
    padding: 15px 0px 15px 35px;
    cursor: pointer;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}
#left-menu ul li i{
    position: absolute;
    right: 15%;
    color: #ff642f;
}

.section{
    padding-left: 10%;
    padding-right: 10%;
}

.service-holder{
    height: 10%;
}
.service-holder .service-data{
    vertical-align: top;
}