html{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    -webkit-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
}
.section-content-holder{
    padding-left: 4%;
    padding-right: 4%;
}
#main-menu{
    display: none;
    position: relative;
}
#left-menu{
    display: none;
    position: relative;
}
#resize{
    width: 100%;
    margin: 0;
    overflow: hidden;
}
.hero-text{
    color: #fff;
    position: relative;
    top: 50%;
    margin-left: 5px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.type{
    text-align: left;
}
#content{
    display: block;
}

.section{
    margin-bottom: 0;
}
.section-content-holder{
    padding-top: 8%;
    padding-bottom: 8%;
}

.section-title{
    margin-bottom: 0;
    margin-top: 0;
    height: 50px;
    font-size: 9vw;
    font-weight: 700;
    letter-spacing: -3px;
    word-spacing: 7px;
    padding: 0!important;
    vertical-align: middle;
    z-index: 250;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#quality{
    display: none;
}
#project-images li{
    width: 50%;
}
/*---------------
Section titles
---------------*/
.section-title{color: white;}
#about .section-title{background-color: rgb(255, 186, 66);}
#services .section-title{background-color: #e64b77;}
#skills .section-title{background-color: #32DB8A;}
#projects .section-title{background-color: #e64b77;}
/*---------------
Media Queries
---------------*/
@media only screen and (max-width: 610px){
    .service-holder{
        width: 100%;
        margin-bottom: 20px;
    }
    .service-holder img{
        margin-top: 10px;
    }
    .service-data{
        margin-top: 0px;
        margin-left: 5px;
    }
    #quality p{
        font-size: 10px;
    }
}