@font-face{
    font-family: Anders;
    src: url("../fonts/Anders.ttf") format("truetype");
}
.anders{
    font-family: 'Anders', 'Lato', 'Arial', sans-serif;
    font-weight: bold;
}

html{
    color: "#fff";
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(248,249,250);
}
.hero-text .social-icons i{
    font-size: 1.7em;
    margin-right: 4px;
}
.section-list a,
.section-list a:link,
.section-list a:visited{
    color: #000;
    text-decoration: none;
}
#resize{
    background: -webkit-linear-gradient(#3C385E,#E26F92);
    background: linear-gradient(#3C385E,#E26F92);
}
#resize h1{
    font-weight: normal;
}
.social-icons a{
    text-decoration: none;
    color: #fff;
}
/*---------------
Animations
---------------*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.bounce-up{  
    opacity: 0;  
    -webkit-transition: all 700ms ease-out;  
    transition: all 700ms ease-out;  
    -webkit-transform: translate3d(0px, 200px, 0px);  
    transform: translate3d(0px, 200, 0px);  
    -webkit-backface-visibility: hidden;  
    backface-visibility: hidden;
}

.bounce-up.in-view{  
    opacity: 1;  
    -webkit-transform: translate3d(0px, 0px, 0px);  
    transform: translate3d(0px, 0px, 0px);
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes fade-in{
    from{ opacity: 0;}
    to{ opacity: 1;}
}
@keyframes fade-in{
    from{ opacity: 0;}
    to{ opacity: 1;}
}
@-webkit-keyframes fade-out{
    from{ opacity: 1;}
    to{ opacity: 0;}
}
@keyframes fade-out{
    from{ opacity: 1;}
    to{ opacity: 0;}
}
@-webkit-keyframes slide-up{
    to{ -webkit-transform: translateY(-200px); transform: translateY(-200px);}
}
@keyframes slide-up{
    to{ -webkit-transform: translateY(-200px); transform: translateY(-200px);}
}
@-webkit-keyframes slide-down{
    from{ -webkit-transform: translateY(-112px); transform: translateY(-112px);}
    to{ -webkit-transform: translateY(0); transform: translateY(0);}
}
@keyframes slide-down{
    from{ -webkit-transform: translateY(-112px); transform: translateY(-112px);}
    to{ -webkit-transform: translateY(0); transform: translateY(0);}
}
@-webkit-keyframes hero-txt{
    to{font-size: 0.5em; left: 3%; margin: 0;}
}
@keyframes hero-txt{
    to{font-size: 0.5em; left: 3%; margin: 0;}
}
@-webkit-keyframes scale-in{
    from{-webkit-transform: scale(0.8);transform: scale(0.8);}
    to{-webkit-transform: scale(1);transform: scale(1);}
}
@keyframes scale-in{
    from{-webkit-transform: scale(0.8);transform: scale(0.8);}
    to{-webkit-transform: scale(1);transform: scale(1);}
}

/*---------------
Content
---------------*/
.section{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
}
.section-title{
    text-align: center;
    margin-bottom: 8%;
    margin-top: 8%;
    text-transform: uppercase;
}

#about .section-content-holder div{
    margin-bottom: 1%;
}

/*---------------
Services
---------------*/
.service-holder 
{
    display: inline-block;
    width: 49%;
    padding: 0%;
    margin: 0%;
    margin-bottom: 2%;
}
.service-holder .service-img 
{
    width: 15%;
    text-align: left;
    padding-right: 5px;
    display: inline-block;
    vertical-align: top;
}
.webServiceImg{
    width: 100%;
}
.desktopServiceImg{
    width: 92%;
}
.mobileServiceImg{
    width: 82%;
}
.graphicsServiceImg{
    width: 88%;
}
.service-holder .service-data{
    display: inline-block;
    font-size: 0.8em;
    font-weight: 500;
    width: 80%;
    margin-top: 15%;
}
.service-holder .service-data .service-title{
    font-weight: bold;
    color: #d83f08;
    font-size: 1.5em;
    padding-bottom: 10px;
}
@media only screen and (max-width: 353px){
    .service-holder .service-img {width: 13%;}
}

/*---------------
Skills
---------------*/
.platform{
    opacity: 0.3;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.platform-active{
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.images{
    position: relative;
    overflow: visible;
}
.images img{
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}

#desktop{
    position: relative;
    width: 35%;
    height: auto;
    left: 45%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#mobile{
    position: absolute;
    width: 15%;
    height: auto;
    left: 26%;
    top: 82%;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}
#design{
    position: absolute;
    width: 15%;
    height: auto;
    right: 28%;
    top: 16%;
}
#web{
    position: absolute;
    width: 30%;
    height: auto;
    left: 47%;
    top: 68%;
}


.skills-name{
    margin-top: 13%;
    background-color: rgba(149, 149, 149, 0.2);
}
.logo{
    text-align: center;
    padding: 3%;
    display: none;
}

.logo img{
    width: 40px;
    height: auto;
    margin-right: 2%;
    -webkit-animation: fade-in 1s linear, scale-in 1s linear;
    animation: fade-in 1s linear, scale-in 1s linear;
}

@media only screen and (max-width: 970px){
    #desktop{
        width: 65%;
        left: 45%;
    }
    #mobile{
        width: 27%;
        left: 12%;
        top: 80%;
    }
    #design{
        width: 23%;
        right: 15%;
        top: 18%;
    }
    #web{
        width: 55%;
        left: 47%;
        top: 68%;
    }
    
}

/*---------------
Projects
---------------*/
#project-images{
    width: 100%;
    padding: 0;
    overflow: visible;
}
#project-images li{
    width: 100%;
    height: auto;
    list-style: none;
}
#project-images li img{
    width: 100%;
    height: auto;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
#project-images li img:hover{
    z-index: 110;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
#darkbox-description{
    font-weight: 600;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000 !important;
}
#darkbox-description h3{
    margin: 0;
}

/*---------------
Page Loading Screen
---------------*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #fff;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite;
      animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}